<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

  <!-- Google Icons -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,300,0,0" />

  <title>URL - TinyApp Example</title>
</head>

<body>

  <%- include('partials/_header.ejs') %>

    <main style="margin: 1em;">

      <div class="card text-center" style="width: 36rem;">
        <div class="card-header">
          <h4 class="card-title"><small class="text-muted">TinyURL for: </small>
            <%= urlObj.longUrl %>
          </h4>
        </div>
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-md-auto">
              Short URL ID: <a href="/u/<%= id %>" target="_blank">
                <%= id %>
              </a>
            </div>
            <div class="col">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary btn-sm"
                  onclick="copyText(`http://localhost:8080/u/<%= id %>`)"><span class="material-symbols-outlined"
                    style="vertical-align: bottom">link</span> Copy link</button>
              </div>
              <% if (!edit) { %>
                <div class="btn-group" role="group">
                  <a class="btn btn-outline-success btn-sm" data-toggle="collapse" href="#collapseEdit" role="button"
                    aria-expanded="false" aria-controls="collapseEdit"><span class="material-symbols-outlined"
                      style="vertical-align: bottom">edit_square</span> Edit</a>
                </div>
                <% } %>
                  <div class="btn-group" role="group">
                    <form method="POST" action="../../urls/<%= id %>/delete">
                      <button type="submit" class="btn btn-outline-danger btn-sm"><span
                          class="material-symbols-outlined" style="vertical-align: bottom">delete</span>
                        Delete</button>
                    </form>
                  </div>
                  <script>
                    function copyText(input) {
                      navigator.clipboard.writeText
                        (input);
                    }
                  </script>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-auto">
            <ul class="list-group list-group-flush" style="width: 17rem;">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <small>Created:</small>
                <% if (urlObj.created) { %>
                  <span class="badge badge-primary">
                    <%= urlObj.created.toString().substring(0,16) %> | <%= urlObj.created.toString().substring(16,21) %>
                  </span>
                  <% } else { %>
                    <span class="badge badge-info">No data</span>
                    <% } %>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <small>Updated:</small>
                <% if (urlObj.updated) { %>
                  <span class="badge badge-primary">
                    <%= urlObj.updated.toString().substring(0,16) %> | <%= urlObj.updated.toString().substring(16,21) %>
                  </span>
                  <% } else { %>
                    <span class="badge badge-info">No data</span>
                    <% } %>
              </li>
            </ul>
          </div>
          <div class="col-md-auto">
            <ul class="list-group list-group-flush" style="width: 10rem;">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <small>Total hits:</small>
                <span class="badge badge-success">
                  <%= urlObj.hits %>
                </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <small>Unique hits:</small>
                <span class="badge badge-success">
                  <%= urlObj.uniqueHits.length %>
                </span>
              </li>
            </ul>
          </div>
        </div>
        &nbsp;
        <div class="collapse" id="collapseEdit">
          <div class="card-footer text-muted">
            <h5 class="card-title">Edit</h5>
            <form class="form-inline justify-content-center" action="/urls/<%= id %>" method="POST">
              <div class="form-group mb-2">
                <div class="input-group mb-3">
                  <label for="longURL">Enter new destination:&emsp;</label>
                  <input type="text" class="form-control" name="longURL" value="<%= urlObj.longUrl %>"
                    pattern="https://.*|http://.*" style="width: 250px" required>
                  <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit"><span class="material-symbols-outlined"
                        style="vertical-align: bottom">save</span> Save</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      </div>
      </div>
    </main>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
    <script>if (<%= edit %>) {
        $('#collapseEdit').addClass('show');
      }</script>

</body>

</html>