<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head.ejs') %>
    <title>
      <%= appName %> - My URLs
    </title>
</head>

<body>

  <%- include('partials/_header.ejs') %>

    <main style="margin: 1em;">
      <div class="card" style="width: 100%;">
        <div class="card-header">
          <h4>My URLs</h4>
        </div>
        <div class="card-body form-group table-responsive">

          <table class="table table-striped table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="small">Short URL</th>
                <th scope="col" class="small">Long URL</th>
                <th scope="col" class="small"><span class="d-none d-md-flex">Stats</span></th>
                <th scope="col" class="small">Options</th>
              </tr>
            </thead>
            <tbody>
              <% for (let id in urls) { %>
                <tr>
                  <th scope="row" class="">
                    <div class="align-items-center">
                      <a href="/urls/<%= id %>">
                        <%= id %>
                      </a>
                      <% if (urls[id].private === 'true') { %>
                        <span class="badge badge-pill badge-danger d-none d-sm-inline">
                          <small>Private</small>
                        </span>
                        <% } else { %>
                          <span class="badge badge-pill badge-success d-none d-sm-inline">
                            <small>Public</small>
                          </span>
                          <% } %>
                            <% if(Date().toString().substring(0,10)===urls[id].created.toString().substring(0,10) &&
                              Date().toString().substring(0,10)!==urls[id].updated.toString().substring(0,10)) { %>
                              &nbsp;<span class="badge badge-success d-none d-lg-inline" data-toggle="tooltip"
                                data-placement="top" title="created today">new</span>
                              <% } %>
                                <% if(Date().toString().substring(0,10)===urls[id].updated.toString().substring(0,10) &&
                                  Date().toString().substring(0,10) !==urls[id].created.toString().substring(0,10)) { %>
                                  &nbsp;<span class="badge badge-success d-none d-lg-inline" data-toggle="tooltip"
                                    data-placement="top" title="updated today">updated</span>
                                  <% } %>
                                    <% if(Date().toString().substring(0,10)===urls[id].updated.toString().substring(0,10)
                                      &&
                                      Date().toString().substring(0,10)===urls[id].created.toString().substring(0,10)) {
                                      %>
                                      &nbsp;<span class="badge badge-success d-none d-lg-inline" data-toggle="tooltip"
                                        data-placement="top" title="created and updated today">new/updated</span>
                                      <% } %>
                    </div>
                  </th>
                  <td class="">
                    <%= urls[id].longUrl %>
                  </td>
                  <td>
                    <div class="d-none d-md-block">
                      <% if (urls[id].created) { %>
                        <button type="button" class="badge badge-primary d-none d-lg-inline" disabled>
                          <small>Created</small> <span class="badge badge-light">
                            <%= urls[id].created.toString().substring(0,10) %>
                          </span>
                        </button>
                        <% } else { %>
                          <button type="button" class="badge badge-primary d-none d-lg-inline" disabled>
                            <small>Created</small> <span class="badge badge-light">
                              Unknown
                            </span>
                          </button>
                          <% } %>

                            <% if (urls[id].updated) { %>
                              <button type="button" class="badge badge-primary d-none d-xl-inline" disabled>
                                <small>Updated</small> <span class="badge badge-light">
                                  <%= urls[id].updated.toString().substring(0,10) %>
                                </span>
                              </button>
                              <% } %>

                                <button type="button" class="badge badge-success" disabled>
                                  <small>Total hits</small> <span class="badge badge-light">
                                    <%= urls[id].hits %>
                                  </span>
                                </button>
                                <button type="button" class="badge badge-success" disabled>
                                  <small>Unique hits</small> <span class="badge badge-light">
                                    <%= urls[id].uniqueHits.length %>
                                  </span>
                                </button>
                    </div>
                  </td>
                  <td class="" style="margin-top: 0px; padding: 10px 0px 0px;">
                    <div class="btn-group d-none d-lg-inline-block" role="group">
                      <button type="button" class="btn btn-outline-primary btn-sm"
                        onclick="copyText(`http://localhost:8080/u/<%= id %>`)"><svg xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 16 16" fill="currentColor" width="16" height="16" style="margin-bottom:2px;">
                          <path fill-rule="evenodd"
                            d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 010 1.5h-1.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-1.5a.75.75 0 011.5 0v1.5A1.75 1.75 0 019.25 16h-7.5A1.75 1.75 0 010 14.25v-7.5z">
                          </path>
                          <path fill-rule="evenodd"
                            d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0114.25 11h-7.5A1.75 1.75 0 015 9.25v-7.5zm1.75-.25a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-7.5a.25.25 0 00-.25-.25h-7.5z">
                          </path>
                        </svg>&ensp;Copy</button>
                    </div>
                    <div class="btn-group d-inline" role="group">
                      <a class="btn btn-outline-success btn-sm" href="/urls/<%= id %>/edit" role="button"><svg
                          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" width="16"
                          height="16" style="margin-bottom:2px;">
                          <path fill-rule="evenodd"
                            d="M11.013 1.427a1.75 1.75 0 012.474 0l1.086 1.086a1.75 1.75 0 010 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 01-.927-.928l.929-3.25a1.75 1.75 0 01.445-.758l8.61-8.61zm1.414 1.06a.25.25 0 00-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 000-.354l-1.086-1.086zM11.189 6.25L9.75 4.81l-6.286 6.287a.25.25 0 00-.064.108l-.558 1.953 1.953-.558a.249.249 0 00.108-.064l6.286-6.286z">
                          </path>
                        </svg>&ensp;Edit</a>
                    </div>
                    <div class="btn-group d-none d-lg-inline-block" role="group">
                      <form method="POST" action="./urls/<%= id %>/delete">
                        <button type="submit" class="btn btn-outline-danger btn-sm"><svg
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" width="16"
                            height="16" style="margin-bottom:2px;">
                            <path fill-rule="evenodd"
                              d="M6.5 1.75a.25.25 0 01.25-.25h2.5a.25.25 0 01.25.25V3h-3V1.75zm4.5 0V3h2.25a.75.75 0 010 1.5H2.75a.75.75 0 010-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75zM4.496 6.675a.75.75 0 10-1.492.15l.66 6.6A1.75 1.75 0 005.405 15h5.19c.9 0 1.652-.681 1.741-1.576l.66-6.6a.75.75 0 00-1.492-.149l-.66 6.6a.25.25 0 01-.249.225h-5.19a.25.25 0 01-.249-.225l-.66-6.6z">
                            </path>
                          </svg>&ensp;Delete</button>
                      </form>
                    </div>
                    <script>
                      function copyText(input) {
                        navigator.clipboard.writeText
                          (input);
                      }
                    </script>
                  </td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </main>

    <%- include('partials/_footer.ejs') %>

</body>

</html>