<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head.ejs') %>
    <title>
      <%= appName %> - <%= id %>
    </title>
</head>

<body>

  <%- include('partials/_header.ejs') %>

    <main style="margin: 1em;">

      <div class="card text-center" style="margin: 0 auto; max-width: 36rem;">
        <div class="card-header">
          <h4 class="card-title">
            <small class="text-muted">TinyURL for: </small>
            <%= urlObj.longUrl %>
              <% if (locals.urlObj.private==='true' ) { %>
                <span class="badge badge-pill badge-danger">private</span>
                <% } else { %>
                  <span class="badge badge-pill badge-success">public</span>
                  <% } %>
          </h4>
        </div>
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-md-auto">
              Short URL ID: <a href="/u/<%= id %>" target="_blank">
                <%= id %>
              </a>
            </div>
            <div class="col">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary btn-sm" onclick="copyText(`/u/<%= id %>`)"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" width="16" height="16"
                    style="margin-bottom:2px;">
                    <path fill-rule="evenodd"
                      d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 010 1.5h-1.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-1.5a.75.75 0 011.5 0v1.5A1.75 1.75 0 019.25 16h-7.5A1.75 1.75 0 010 14.25v-7.5z">
                    </path>
                    <path fill-rule="evenodd"
                      d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0114.25 11h-7.5A1.75 1.75 0 015 9.25v-7.5zm1.75-.25a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-7.5a.25.25 0 00-.25-.25h-7.5z">
                    </path>
                  </svg>&ensp;Copy</button>
              </div>
              <% if (!edit) { %>
                <div class="btn-group" role="group">
                  <a class="btn btn-outline-success btn-sm" data-toggle="collapse" href="#collapseEdit" role="button"
                    aria-expanded="false" aria-controls="collapseEdit"><svg xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 16 16" fill="currentColor" width="16" height="16" style="margin-bottom:2px;">
                      <path fill-rule="evenodd"
                        d="M11.013 1.427a1.75 1.75 0 012.474 0l1.086 1.086a1.75 1.75 0 010 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 01-.927-.928l.929-3.25a1.75 1.75 0 01.445-.758l8.61-8.61zm1.414 1.06a.25.25 0 00-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 000-.354l-1.086-1.086zM11.189 6.25L9.75 4.81l-6.286 6.287a.25.25 0 00-.064.108l-.558 1.953 1.953-.558a.249.249 0 00.108-.064l6.286-6.286z">
                      </path>
                    </svg>&ensp;Edit</a>
                </div>
                <% } %>
                  <div class="btn-group" role="group">
                    <form method="POST" action="/urls/<%= id %>?_method=DELETE">
                      <button type="submit" class="btn btn-outline-danger btn-sm"><svg
                          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" width="16"
                          height="16" style="margin-bottom:2px;">
                          <path fill-rule="evenodd"
                            d="M6.5 1.75a.25.25 0 01.25-.25h2.5a.25.25 0 01.25.25V3h-3V1.75zm4.5 0V3h2.25a.75.75 0 010 1.5H2.75a.75.75 0 010-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75zM4.496 6.675a.75.75 0 10-1.492.15l.66 6.6A1.75 1.75 0 005.405 15h5.19c.9 0 1.652-.681 1.741-1.576l.66-6.6a.75.75 0 00-1.492-.149l-.66 6.6a.25.25 0 01-.249.225h-5.19a.25.25 0 01-.249-.225l-.66-6.6z">
                          </path>
                        </svg>&ensp;Delete</button>
                    </form>
                  </div>
                  <script>
                    function copyText(input) {
                      let url = window.location.href;
                      if (url.substring(0, 5) === 'https') {
                        url = url.slice(8);
                        url = 'https://' + url.substring(0, url.indexOf('/'));
                      } else if (url.substring(0, 4) === 'http') {
                        url = url.slice(7);
                        url = 'http://' + url.substring(0, url.indexOf('/'));
                      } else {
                        url = url.substring(0, url.indexOf('/'));
                      }
                      navigator.clipboard.writeText
                        (url + input);
                    }
                  </script>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-auto">
            <ul class="list-group list-group-flush" style="width: 17rem;">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <small>Created:</small>
                <% if (urlObj.created) { %>
                  <span class="badge badge-primary">
                    <%= urlObj.created.toString().substring(0,16) %> | <%= urlObj.created.toString().substring(16,21) %>
                  </span>
                  <% } else { %>
                    <span class="badge badge-info">No data</span>
                    <% } %>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <small>Updated:</small>
                <% if (urlObj.updated) { %>
                  <span class="badge badge-primary">
                    <%= urlObj.updated.toString().substring(0,16) %> | <%= urlObj.updated.toString().substring(16,21) %>
                  </span>
                  <% } else { %>
                    <span class="badge badge-info">No data</span>
                    <% } %>
              </li>
            </ul>
          </div>
          <div class="col-md-auto">
            <ul class="list-group list-group-flush" style="width: 10rem;">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <small>Total hits:</small>
                <span class="badge badge-success">
                  <%= urlObj.hits %>
                </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <small>Unique hits:</small>
                <span class="badge badge-success">
                  <%= urlObj.uniqueHits.length %>
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-auto"style="-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
          <% if (urlObj.uniqueHits.length > 0) { %>
            <small class="text-muted">Unique hits</small><br />
          <% } %>
          <% for (const uniqueHit of urlObj.uniqueHits) { %>
            <span>
              <span class="badge badge-info" data-toggle="tooltip"
              data-placement="top" title="visitor id: <%= uniqueHit.visitor ? uniqueHit.visitor : 'unknown' %>">
                <%= uniqueHit.date.toString().substring(0,16) %> | <%= uniqueHit.date.toString().substring(16,21) %>
              </span>
              <br />
          <% } %>
          </div>
        </div>
        &nbsp;
        <div class="collapse" id="collapseEdit">
          <div class="card-footer text-muted">
            <h5 class="card-title">Edit</h5>
            <form class="form-inline justify-content-center" action="/urls/<%= id %>?_method=PUT" method="POST">
              <div class="form-group mb-2">
                <div class="input-group mb-3">
                  <label class="d-none d-sm-inline-block" style="padding-top: px;" for="longURL">Enter new
                    URL:&emsp;</label>
                  <input type="text" class="form-control" name="longURL" value="<%= urlObj.longUrl %>"
                    pattern="https://.*|http://.*" style="width: 275px" required>
                  <div class="input-group-append">
                    <button class="btn btn-outline-success btn-sm" type="submit"><svg xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 16 16" fill="currentColor" width="16" height="16" style="margin-bottom:2px;">
                        <path fill-rule="evenodd"
                          d="M2.5 1.75a.25.25 0 01.25-.25h8.5a.25.25 0 01.25.25v7.736a.75.75 0 101.5 0V1.75A1.75 1.75 0 0011.25 0h-8.5A1.75 1.75 0 001 1.75v11.5c0 .966.784 1.75 1.75 1.75h3.17a.75.75 0 000-1.5H2.75a.25.25 0 01-.25-.25V1.75zM4.75 4a.75.75 0 000 1.5h4.5a.75.75 0 000-1.5h-4.5zM4 7.75A.75.75 0 014.75 7h2a.75.75 0 010 1.5h-2A.75.75 0 014 7.75zm11.774 3.537a.75.75 0 00-1.048-1.074L10.7 14.145 9.281 12.72a.75.75 0 00-1.062 1.058l1.943 1.95a.75.75 0 001.055.008l4.557-4.45z">
                        </path>
                      </svg>&ensp;Save</button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">

                    <label class="input-group-text" for="private" data-toggle="tooltip" data-placement="top"
                      title="Hide from the All URLs list?"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                        fill="currentColor" width="16" height="16">
                        <path fill-rule="evenodd"
                          d="M.143 2.31a.75.75 0 011.047-.167l14.5 10.5a.75.75 0 11-.88 1.214l-2.248-1.628C11.346 13.19 9.792 14 8 14c-1.981 0-3.67-.992-4.933-2.078C1.797 10.832.88 9.577.43 8.9a1.618 1.618 0 010-1.797c.353-.533.995-1.42 1.868-2.305L.31 3.357A.75.75 0 01.143 2.31zm3.386 3.378a14.21 14.21 0 00-1.85 2.244.12.12 0 00-.022.068c0 .021.006.045.022.068.412.621 1.242 1.75 2.366 2.717C5.175 11.758 6.527 12.5 8 12.5c1.195 0 2.31-.488 3.29-1.191L9.063 9.695A2 2 0 016.058 7.52l-2.53-1.832zM8 3.5c-.516 0-1.017.09-1.499.251a.75.75 0 11-.473-1.423A6.23 6.23 0 018 2c1.981 0 3.67.992 4.933 2.078 1.27 1.091 2.187 2.345 2.637 3.023a1.619 1.619 0 010 1.798c-.11.166-.248.365-.41.587a.75.75 0 11-1.21-.887c.148-.201.272-.382.371-.53a.119.119 0 000-.137c-.412-.621-1.242-1.75-2.366-2.717C10.825 4.242 9.473 3.5 8 3.5z">
                        </path>
                      </svg>&ensp;<span class="d-none d-sm-inline-block">Change short URL visibility?</span><span
                        class="d-sm-none">Change visibility?</span></label>

                  </div>
                  <select class="custom-select" id="private" name="private">
                    <% if (locals.urlObj.private==='true' ) { %>
                      <option value="true" selected>Keep private</option>
                      <option value="false">Make public</option>
                      <% } else { %>
                        <option value="false" selected>Keep public</option>
                        <option value="true">Make private</option>
                        <% } %>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      </div>
      </div>
    </main>

    <%- include('partials/_footer.ejs') %>
      <script>if (<%= edit %>) {
          $('#collapseEdit').addClass('show');
        }</script>

</body>

</html>